@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital@0;1&display=swap");

$PrimaryFont: "Open Sans", sans-serif;
$SecondaryFont: "Poppins", sans-serif;

body {
  margin: 0;
  padding: 0;
}
